<!DOCTYPE html>
<html>
	<head>
		<title>Topera</title>
		<link rel="icon" href="/static/img/logo.jpg">
		<link href="static/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<style type="text/css">
	body {
		padding: 20px;
	}
	</style>
	<body>
		<a href="/"><img src="/static/img/logo.jpg"/></a>
		<h1>Topera</h1>
		<form action="/result/0" method="GET">
			<input type="text" placeholder="Topera for winners!" name="keywords" autofocus required>
			<button type="submit">submit</button>
		</form>
		<h3>Ranking</h3>
		<table id="history">
			<tr>
				<td>Word</td>
				<td>Count</td>
			</tr>
			% for word, occurance in ordered_word:
			<tr>
				<td>{{word}}</td>
				<td>{{occurance}}</td>
			</tr>
		% end
		</table>
		<a href="/logout">Logout</a>
	</body>
</html>
